$font:  'Poppins'
$color1: #480981
$color2: #29C4CD
$color3: #3A3A3A
$color4: #969696
$color5: #939393
$color6: #A059F8
$color7: #F7F7F7
$color8: #EE306C

*
    margin: 0

.ml-masterclass-page *
    margin: 0
    padding: 0
    text-decoration: none
    box-sizing:  border-box
    line-height: 1.4
    font-family: $font
    &:focus
        outline: none

    & a:active
        text-decoration: none
        &:active
            text-decoration: none

    & input,
    & button
        border: 0.1vw solid #fff0
        &:focus
            outline: none

.ml-masterclass-desktop-nombre-y-foto 
    display: flex
    flex-direction: column
    width: 100%
    height: 29.6vw
    background: $color1
    padding: 9vw 32vw 0 32vw
    align-items: flex-end

    &__info
        align-items: flex-end
        display: flex
        flex-direction: column


        &__nombre-masterclass
            font-size: 3.6vw
            font-weight: 300
            color: #FFF
            // width: 25.5vw

            & > span 
                display: block
                font-weight: 800
                color: $color2

        &__nombre-experto
            margin-top: -2vw
            color: #FFF
            font-size: 1.5vw
            font-weight: 300
            width: 35vw
            // margin-right: 7vw

            &__risa-cain
                height: 8vw
                width: 11.3vw
                transform: rotate(50deg);
                margin-bottom: -1vw

.ml-masterclass-movil-nombre-y-foto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 41vw
    width: 100%

    &__nombre-masterclass
        font-size: 5.7vw
        font-weight: 300
        color: #FFF

        & > span 
            display: block
            font-weight: 800
            color: $color2

    &__nombre-experto
        font-weight: 300
        font-size: 3vw
        margin-left: -20vw
        color: #FFF
        
        & > img
            height: 9vw
            transform: rotate(50deg);
            width: 12.9vw
    


.ml-masterclass-desktop-introduccion
    display: flex
    flex-direction: column
    padding: 6vw 17.2vw 8vw 17.2vw
    background: $color3

    &__video
        height: 36.5vw
        width:  64.6vw
        box-shadow: 0vw 1vw 3vw rgba(0, 0, 0, 0.4)
        border-radius: 1vw
        
    &__info
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 6.5vw

        &__paragraph
            font-size: 1.1vw
            line-height: 1.3
            letter-spacing: 0.1vw
            color: #FFF
            font-weight: 300
            width: 24vw
            display: flex
            flex-direction: column

            &__tres-puntos

                margin: 0 auto
                margin-top: 3vw
                height: 0.8vw

        &__valor
            width: 17.5vw
            height: 15.6vw
            background: $color4
            border-radius: 1vw

.ml-masterclass-movil-introduccion
    display: flex
    margin-top: -0.5vw
    flex-direction: column
    background: $color3

    &__video
        margin: 0 auto
        margin-top: 7vw
        border-radius: 3vw
        box-shadow: 0vw 3vw 6vw rgba(0, 0, 0, 0.4)
        width: 92vw
        height: 52vw

    &__paragraph
        width: 79vw
        margin: auto
        color: #FFF
        margin-top: 7vw
        font-size: 3.4vw

    &__woo
        width: 80vw
        height: 50vw
        margin: 7vw auto
        background: $color4
        border-radius: 3vw


.ml-masterclass-desktop-incluye
    display: flex
    flex-direction: column
    padding: 0 25vw
    margin-top: 3.7vw
    margin-bottom: 4vw
    align-items: center

    &__title
        color: $color6
        font-weight: 800
        font-size: 2.6vw
        width: 25vw
        text-align: center

    &__row
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 100%


        &__col
            display: flex
            flex-direction: column
            margin-bottom: 1vw


            &__item
                display: flex
                margin-top: 2vw
                flex-direction: row
                align-items:center
                font-size: 1.1vw
                font-weight: 300
                color: $color5

                & > img
                    height: 2.6vw
                    width: 2.6vw
                    margin-right: 1vw

.ml-masterclass-movil-incluye
    display: flex
    flex-direction: column
    padding: 0 25vw
    margin-top: 3.7vw
    margin-bottom: 4vw
    align-items: center

    &__title
        color: $color6
        font-weight: 800
        font-size: 6.3vw
        width: 60vw
        text-align: center

    &__row
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 80vw


        &__col
            display: flex
            flex-direction: column
            margin-bottom: 1vw


            &__item
                display: flex
                margin-top: 5vw
                flex-direction: row
                align-items:center
                font-size: 3.2vw
                font-weight: 300
                color: $color5

                & > img
                    height: 5vw
                    width: 5vw
                    margin-right: 3vw


.ml-masterclass-desktop-aprenderas-dirigido
    display: flex
    flex-direction: column
    background: $color7
    padding: 3vw 0

    &__row
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: 1vw 15vw
        


        &__title
            font-size:  2.6vw
            font-weight: 800
            color: $color6
            width: 24vw

            & > span
                font-weight: 300
                display: flex
                width: 30vw

        &__paragraph
            font-size: 1.1vw
            font-weight: 400
            line-height: 2
            width: 35vw
            color: $color5

.ml-masterclass-movil-aprenderas-dirigido
    display: flex
    background: $color7
    flex-direction: column

    &__title
        font-size: 6.4vw
        color: $color6
        font-weight: 800
        margin: 5vw auto
        text-align: center

        & > span 
            font-weight: 300
            display: block

    &__paragraph
        font-size: 3.4vw
        font-weight: 300
        color: $color3
        margin: 0 9.5vw  5vw 9.5vw



.ml-masterclass-desktop-requisitos
    display: flex
    flex-direction: column
    margin: 4vw 24vw 4vw 15vw
    &__title
        font-size: 2.6vw
        font-weight: 800
        color: $color6
    
    &__points
        display: flex
        flex-direction: row
        justify-content: space-between

        &__item
            margin-top: 1.5vw
            margin-bottom: 2vw
            font-size: 1.1vw
            font-weight: 400
            width: 24vw
            display: flex
            color: $color5
            &::before
                content: ''
                height: 2vw
                width: 3vw
                border-radius: 50%
                background: $color8
                margin-top: 0.5vw                
                margin-right: 1vw

.ml-masterclass-movil-requisitos
    display: flex
    flex-direction: column

    &__title
        font-size: 6.3vw
        color: $color6
        font-weight: 800
        margin-top: 8vw
        margin-left: 20vw

    &__points
        margin-left: 20vw
        display: flex
        flex-direction: row
        margin-top: 2vw
        margin-bottom: 2vw

        & > p
            font-size: 3.4vw
            color: $color5
            width: 60vw

        & > span 
            display: inline-block
            height: 5vw
            width:  5vw
            border-radius: 50%
            background: $color8
            margin-top: 0.5vw                
            margin-right: 3vw



.ml-masterclass-desktop-contenidos
    display: flex
    flex-direction: column

    &__title
        font-size: 2.6vw
        font-weight: 800
        width: 24vw
        color: $color6
        margin-left: 16vw
        
        & > span
            display: block

    &__contenido
        width: 75.4vw
        height: 30vw
        background: $color6
        margin: 0 auto
        border-radius: 3vw
        margin-top: 2vw
        margin-bottom: 10vw

.ml-masterclass-movil-contenidos
    display: flex
    flex-direction: column

    &__title
        font-weight: 800
        font-size: 6.3vw
        color: $color6
        margin: 5vw 10vw 0 10vw

        & > span 
            display: block

    &__lnDs
        height: 44.5vw
        width: 80vw
        margin: 5vw auto
        margin-bottom: 15vw
        background: $color6
        border-radius: 3vw


.ml-masterclass-desktop-redes-del-expertos
    display: flex
    flex-direction:row
    background: $color1
    height: 21vw
    width: 100%

    &__fotos
        height: 28.3vw
        width: 17.5vw
        z-index: 100
        margin-top: -7.3vw
        margin-left: 15vw

    &__nombre
        z-index: 100
        font-size: 3.1vw
        color: #FFF
        font-weight: 800
        margin-top: 2.5vw
        margin-left: -3vw
        & > span 
            display: block

        &::after
            content: ''
            height: .5vw
            width:  9vw
            display: block
            background: $color2
            margin-left: -2vw

    &__redes
        margin-top: 2.5vw
        margin-left: 3vw
        z-index: 100
        display: flex
        flex-direction: column

        &__paragraph
            font-size: 1.1vw
            color: #FFF
            font-weight: 400
            width: 23vw

            &__row
                display: flex
                margin-top: 2.4vw
                flex-direction: row

                &__items
                    height: 2vw
                    width: 2vw
                    margin-right: 2vw

                &__risa-morada
                    height: 7vw
                    width: 8.8vw
                    margin-top: -5vw
                    margin-left: 8vw
                    color: $color6

.ml-masterclass-movil-redes-del-expertos
    display: flex
    flex-direction: column
    background: $color1
    height: 86.3vw
    width: 100%
    margin-top: 5vw

    &__perfil
        display: flex
        flex-direction: row

        &__foto
            height: 49.4vw
            width: 32.5vw
            margin-left: 13vw
            margin-top: -15vw

        &__nombre
            margin-top: 5vw
            color: #FFF
            font-size: 6.3vw
            font-weight: 800

            & > span
                display: block

            &::after
                content: ''
                margin-left: 70%
                display: block
                height: 1vw
                width: 15vw
                background: $color2

    &__paragraph
        color: #FFF
        font-size: 3.2vw
        width: 80vw
        margin: 5vw auto

    &__redes
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 0 auto
        width: 40vw

        &__items
            height: 7.5vw
            width:  7.5vw
            margin-bottom: 2vw

