$font:  'Poppins'

.ml-desktop-masterclass-page *
    margin: 0
    padding: 0
    text-decoration: none
    box-sizing:  border-box
    line-height: 1.4
    font-family: $font
    &:focus
        outline: none

    & a:active
        text-decoration: none
        &:active
            text-decoration: none

    & input,
    & button
        border: 0.1vw solid #fff0
        &:focus
            outline: none