.ml-desktop-beneficios *,
.ml-movil-beneficios * {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

.ml-desktop-beneficios *:focus,
.ml-movil-beneficios *:focus {
  outline: none;
}

.ml-desktop-beneficios * a:active,
.ml-movil-beneficios * a:active {
  text-decoration: none;
}

.ml-desktop-beneficios * a:active:active,
.ml-movil-beneficios * a:active:active {
  text-decoration: none;
}

.ml-desktop-beneficios * input,
.ml-desktop-beneficios * button,
.ml-movil-beneficios * input,
.ml-movil-beneficios * button {
  border: 0.1vw solid #fff0;
}

.ml-desktop-beneficios * input:focus,
.ml-desktop-beneficios * button:focus,
.ml-movil-beneficios * input:focus,
.ml-movil-beneficios * button:focus {
  outline: none;
}

.ml-desktop-beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F7F7;
  padding-bottom: 5vw;
}

.ml-desktop-beneficios__title {
  margin-top: 8vw;
  font-size: 2.6vw;
  color: #480981;
  font-weight: 300;
  width: 35vw;
  text-align: center;
  line-height: 1.2;
}

.ml-desktop-beneficios__title > span {
  font-weight: 800;
  color: #A059F8;
}

.ml-desktop-beneficios__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ml-desktop-beneficios__row__col-1 {
  margin-top: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8vw;
}

.ml-desktop-beneficios__row__col-1__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vw;
}

.ml-desktop-beneficios__row__col-1__item__img {
  height: 4.5vw;
  width: 4.5vw;
}

.ml-desktop-beneficios__row__col-1__item__paragraph {
  margin-left: 1.6vw;
  font-size: 1.3vw;
  width: 24vw;
  color: #5B5B5B;
}

.ml-desktop-beneficios__row__col-2 {
  margin-top: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ml-desktop-beneficios__row__col-2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vw;
}

.ml-desktop-beneficios__row__col-2__item__img {
  height: 4.5vw;
  width: 4.5vw;
}

.ml-desktop-beneficios__row__col-2__item__paragraph {
  margin-left: 1.6vw;
  font-size: 1.3vw;
  width: 24vw;
  color: #5B5B5B;
}

.ml-movil-beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F7F7;
}

.ml-movil-beneficios__title {
  margin-bottom: 7.5vw;
  margin-top: 8vw;
  font-size: 6.1vw;
  color: #480981;
  font-weight: 300;
  width: 82vw;
  text-align: center;
  line-height: 1.2;
}

.ml-movil-beneficios__title > span {
  font-weight: 800;
  color: #A059F8;
}

.ml-movil-beneficios__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vw;
  width: 70vw;
}

.ml-movil-beneficios__item__img {
  height: 7.8vw;
  width: 7.8vw;
}

.ml-movil-beneficios__item__paragraph {
  margin-left: 4vw;
  font-size: 3vw;
  width: 70vw;
  color: #5B5B5B;
}
/*# sourceMappingURL=style.css.map */