.ml-enfoquesocial-desktop *,
.ml-enfoquesocial-movil * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  font-family: "Poppins";
}

.ml-enfoquesocial-desktop *:focus,
.ml-enfoquesocial-movil *:focus {
  outline: none;
}

.ml-enfoquesocial-desktop * a:active,
.ml-enfoquesocial-movil * a:active {
  text-decoration: none;
}

.ml-enfoquesocial-desktop * a:active:active,
.ml-enfoquesocial-movil * a:active:active {
  text-decoration: none;
}

.ml-enfoquesocial-desktop * input,
.ml-enfoquesocial-desktop * button,
.ml-enfoquesocial-movil * input,
.ml-enfoquesocial-movil * button {
  border: 0.1vw solid #fff0;
}

.ml-enfoquesocial-desktop * input:focus,
.ml-enfoquesocial-desktop * button:focus,
.ml-enfoquesocial-movil * input:focus,
.ml-enfoquesocial-movil * button:focus {
  outline: none;
}

.ml-enfoquesocial-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 6.8vw;
  padding-bottom: 9.4vw;
  background: #480981;
}

.ml-enfoquesocial-desktop__img {
  height: 19.3vw;
  width: 36.1vw;
  margin-left: 16.4vw;
}

.ml-enfoquesocial-desktop__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4.8vw;
}

.ml-enfoquesocial-desktop__col__title {
  margin-top: 2vw;
  font-size: 2.6vw;
  line-height: 1.6;
  color: #FFF;
  font-weight: 300;
  width: 16.4vw;
}

.ml-enfoquesocial-desktop__col__title > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #A059F8;
  width: 26vw;
  font-weight: 800;
}

.ml-enfoquesocial-desktop__col__paragraph {
  margin-top: 2vw;
  font-size: 1.1vw;
  font-weight: 400;
  width: 28vw;
  color: #FFF;
}

.ml-enfoquesocial-desktop__col__button {
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 2vw;
  padding: 0.5vw 1vw;
  border: 0.3vw solid #29C4CD;
  border-radius: 3vw;
  text-align: center;
  color: #29C4CD;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  background: #FFF;
}

.ml-enfoquesocial-desktop__col__button:hover {
  background: #1da0a7;
  color: #FFF;
}

.ml-enfoquesocial-movil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10vw;
  background: #480981;
}

.ml-enfoquesocial-movil__img {
  width: 80vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.ml-enfoquesocial-movil__title {
  font-size: 6.3vw;
  color: #FFF;
  font-weight: 300;
  width: 36vw;
}

.ml-enfoquesocial-movil__title > span {
  font-weight: 800;
  color: #A059F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62vw;
}

.ml-enfoquesocial-movil__paragraph {
  margin-top: 5vw;
  color: #FFF;
  font-size: 3.4vw;
  font-weight: 300;
}

.ml-enfoquesocial-movil__tres-puntos {
  height: 2.2vw;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.ml-enfoquesocial-desktop-emprendedor-rural *,
.ml-enfoquesocial-movil-emprendedor-rural * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  font-family: "Poppins";
}

.ml-enfoquesocial-desktop-emprendedor-rural *:focus,
.ml-enfoquesocial-movil-emprendedor-rural *:focus {
  outline: none;
}

.ml-enfoquesocial-desktop-emprendedor-rural * a:active,
.ml-enfoquesocial-movil-emprendedor-rural * a:active {
  text-decoration: none;
}

.ml-enfoquesocial-desktop-emprendedor-rural * a:active:active,
.ml-enfoquesocial-movil-emprendedor-rural * a:active:active {
  text-decoration: none;
}

.ml-enfoquesocial-desktop-emprendedor-rural * input,
.ml-enfoquesocial-desktop-emprendedor-rural * button,
.ml-enfoquesocial-movil-emprendedor-rural * input,
.ml-enfoquesocial-movil-emprendedor-rural * button {
  border: 0.1vw solid #fff0;
}

.ml-enfoquesocial-desktop-emprendedor-rural * input:focus,
.ml-enfoquesocial-desktop-emprendedor-rural * button:focus,
.ml-enfoquesocial-movil-emprendedor-rural * input:focus,
.ml-enfoquesocial-movil-emprendedor-rural * button:focus {
  outline: none;
}

.ml-enfoquesocial-desktop-emprendedor-rural {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vw;
}

.ml-enfoquesocial-desktop-emprendedor-rural__video {
  height: 29.1vw;
  width: 60.9vw;
  border-radius: 1vw;
}

.ml-enfoquesocial-desktop-emprendedor-rural__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vw;
  margin-bottom: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-enfoquesocial-desktop-emprendedor-rural__text__title {
  font-size: 2.6vw;
  font-weight: 800;
  color: #A059F8;
  width: 28vw;
}

.ml-enfoquesocial-desktop-emprendedor-rural__text__img {
  height: 7.3vw;
  width: 0.85vw;
  margin-left: 3vw;
  margin-right: 5vw;
}

.ml-enfoquesocial-desktop-emprendedor-rural__text__paragraph {
  font-size: 1.1vw;
  font-weight: 300;
  color: #939393;
  width: 30vw;
}

.ml-enfoquesocial-movil-emprendedor-rural {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ml-enfoquesocial-movil-emprendedor-rural__video {
  width: 90vw;
  height: 44vw;
  margin: 5vw;
}

.ml-enfoquesocial-movil-emprendedor-rural__title {
  font-size: 6.3vw;
  width: 66vw;
  margin-left: 10vw;
  margin-top: 7vw;
  color: #A059F8;
}

.ml-enfoquesocial-movil-emprendedor-rural__paragraph {
  color: #939393;
  font-weight: 300;
  font-size: 3.4vw;
  line-height: 1.7;
  margin: 0 10vw;
  margin-top: 5vw;
}

.ml-enfoquesocial-movil-emprendedor-rural__tres-puntos {
  height: 2vw;
  margin-top: 8.5vw;
  margin-bottom: 8.5vw;
}

.ml-enfoquesocial-desktop-apuesta-social *,
.ml-enfoquesocial-movil-apuesta-social * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  font-family: "Poppins";
}

.ml-enfoquesocial-desktop-apuesta-social *:focus,
.ml-enfoquesocial-movil-apuesta-social *:focus {
  outline: none;
}

.ml-enfoquesocial-desktop-apuesta-social * a:active,
.ml-enfoquesocial-movil-apuesta-social * a:active {
  text-decoration: none;
}

.ml-enfoquesocial-desktop-apuesta-social * a:active:active,
.ml-enfoquesocial-movil-apuesta-social * a:active:active {
  text-decoration: none;
}

.ml-enfoquesocial-desktop-apuesta-social * input,
.ml-enfoquesocial-desktop-apuesta-social * button,
.ml-enfoquesocial-movil-apuesta-social * input,
.ml-enfoquesocial-movil-apuesta-social * button {
  border: 0.1vw solid #fff0;
}

.ml-enfoquesocial-desktop-apuesta-social * input:focus,
.ml-enfoquesocial-desktop-apuesta-social * button:focus,
.ml-enfoquesocial-movil-apuesta-social * input:focus,
.ml-enfoquesocial-movil-apuesta-social * button:focus {
  outline: none;
}

.ml-enfoquesocial-desktop-apuesta-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15vw;
  background: #F7F7F7;
}

.ml-enfoquesocial-desktop-apuesta-social__row-1 {
  margin-top: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-enfoquesocial-desktop-apuesta-social__row-1__title {
  width: 21vw;
  font-size: 2.6vw;
  font-weight: 800;
  color: #A059F8;
  margin-right: 13.3vw;
}

.ml-enfoquesocial-desktop-apuesta-social__row-1__paragraph {
  color: #939393;
  font-size: 1.1vw;
  font-weight: 300;
  width: 25.5vw;
}

.ml-enfoquesocial-desktop-apuesta-social__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4.5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ml-enfoquesocial-desktop-apuesta-social__row-2__card {
  height: 38vw;
  width: 32vw;
  background: #FFF;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6vw 3.7vw 0 3.7vw;
}

.ml-enfoquesocial-desktop-apuesta-social__row-2__card__img {
  height: 5.4vw;
  width: 5.4vw;
  margin-bottom: 3.7vw;
}

.ml-enfoquesocial-desktop-apuesta-social__row-2__card__paragraph {
  color: #939393;
  font-size: 1.1vw;
  line-height: 2;
  font-weight: 300;
}

.ml-enfoquesocial-desktop-apuesta-social__row-2__card__paragraph > span {
  font-weight: 800;
  color: #29C4CD;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7vw;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__paragraph {
  width: 35vw;
  font-size: 1.1vw;
  color: #939393;
  font-weight: 300;
  line-height: 2;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__row__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__row__title__1 {
  margin-top: 7.8vw;
  width: 27vw;
  font-size: 2.3vw;
  color: #29C4CD;
  font-weight: 300;
  line-height: 1.7;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__row__title__1 > span {
  font-weight: 800;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__row__title__2 {
  font-size: 1.1vw;
  color: #939393;
  font-weight: 300;
  line-height: 2;
  width: 27vw;
}

.ml-enfoquesocial-desktop-apuesta-social__row-3__row__img {
  margin-top: -10vw;
  width: 50.6vw;
}

.ml-enfoquesocial-movil-apuesta-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F7F7F7;
  overflow-x: hidden;
  padding-top: 5vw;
  padding: 0 10vw 10vw 10vw;
}

.ml-enfoquesocial-movil-apuesta-social__title {
  margin-bottom: 4vw;
  font-size: 6.3vw;
  color: #A059F8;
  font-weight: 800;
  width: 50vw;
}

.ml-enfoquesocial-movil-apuesta-social__paragraph {
  margin-bottom: 4vw;
  color: #939393;
  font-weight: 300;
  font-size: 3.4vw;
  line-height: 1.7;
}

.ml-enfoquesocial-movil-apuesta-social__card {
  background: #FFF;
  border-radius: 3vw;
  margin-top: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10vw 10vw 10vw;
}

.ml-enfoquesocial-movil-apuesta-social__card__img {
  height: 15.5vw;
  width: 15.5vw;
  margin: 0 auto;
  margin-top: 5.5vw;
}

.ml-enfoquesocial-movil-apuesta-social__card__paragraph {
  font-size: 3.4vw;
  font-weight: 300;
  color: #939393;
  margin-top: 5vw;
  line-height: 2;
}

.ml-enfoquesocial-movil-apuesta-social__card__paragraph > span {
  font-weight: 800;
  color: #29C4CD;
}

.ml-enfoquesocial-movil-apuesta-social__img-2 {
  width: 100vw;
  margin-left: -10vw;
}

.ml-enfoquesocial-movil-apuesta-social__title-2 {
  font-size: 6.4vw;
  font-weight: 300;
  width: 75vw;
  color: #29C4CD;
}

.ml-enfoquesocial-movil-apuesta-social__title-2 > span {
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */