.jd-main-container-compra *,
.jd-movil-main-container-compra * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  line-height: 1.4;
}

.jd-main-container-compra *:focus,
.jd-movil-main-container-compra *:focus {
  outline: none;
}

.jd-main-container-compra * a,
.jd-movil-main-container-compra * a {
  text-decoration: none;
}

.jd-main-container-compra * a:active,
.jd-movil-main-container-compra * a:active {
  text-decoration: none;
}

.jd-main-container-compra * input,
.jd-main-container-compra * button,
.jd-movil-main-container-compra * input,
.jd-movil-main-container-compra * button {
  border: 0.1vw solid #fff0;
}

.jd-main-container-compra * input:focus,
.jd-main-container-compra * button:focus,
.jd-movil-main-container-compra * input:focus,
.jd-movil-main-container-compra * button:focus {
  outline: none;
}

.jd-main-container-compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  font-family: "Poppins";
  padding-bottom: 2.7vw;
}

.jd-main-container-compra__con-tu-compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jd-main-container-compra__con-tu-compra__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 17.3vw;
  margin-right: 2.8vw;
}

.jd-main-container-compra__con-tu-compra__texto__title {
  color: #A059F8;
  font-size: 2.8vw;
  font-weight: 800;
}

.jd-main-container-compra__con-tu-compra__texto__sub-title {
  font-size: 1.1vw;
  color: #939393;
  line-height: 1.6;
  width: 23vw;
  font-weight: 300;
}

.jd-main-container-compra__con-tu-compra__risa-img {
  width: 14vw;
  height: 6vw;
}

.jd-movil-main-container-compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  font-family: "Poppins";
  padding-bottom: 12vw;
}

.jd-movil-main-container-compra__con-tu-compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jd-movil-main-container-compra__con-tu-compra__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 17.3vw;
  margin-right: 2.8vw;
}

.jd-movil-main-container-compra__con-tu-compra__texto__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12.6vw;
}

.jd-movil-main-container-compra__con-tu-compra__texto__box__title {
  color: #A059F8;
  font-size: 6.3vw;
  font-weight: 800;
}

.jd-movil-main-container-compra__con-tu-compra__texto__box__risa-img {
  width: 25vw;
  height: 11vw;
}

.jd-movil-main-container-compra__con-tu-compra__texto__sub-title {
  font-size: 3.4vw;
  color: #939393;
  line-height: 1.6;
  font-weight: 300;
}

.jd-main-container-contribuye *,
.jd-movil-main-container-contribuye * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  line-height: 1.4;
}

.jd-main-container-contribuye *:focus,
.jd-movil-main-container-contribuye *:focus {
  outline: none;
}

.jd-main-container-contribuye * a,
.jd-movil-main-container-contribuye * a {
  text-decoration: none;
}

.jd-main-container-contribuye * a:active,
.jd-movil-main-container-contribuye * a:active {
  text-decoration: none;
}

.jd-main-container-contribuye * input,
.jd-main-container-contribuye * button,
.jd-movil-main-container-contribuye * input,
.jd-movil-main-container-contribuye * button {
  border: 0.1vw solid #fff0;
}

.jd-main-container-contribuye * input:focus,
.jd-main-container-contribuye * button:focus,
.jd-movil-main-container-contribuye * input:focus,
.jd-movil-main-container-contribuye * button:focus {
  outline: none;
}

.jd-main-container-contribuye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: start;
  font-family: "Poppins";
  margin-left: 17.3vw;
  padding-bottom: 3.7vw;
}

.jd-main-container-contribuye__cuadro1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: start;
  margin-right: 7.3vw;
}

.jd-main-container-contribuye__cuadro1__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.8vw;
  height: 4.8vw;
  margin-right: 1.8vw;
}

.jd-main-container-contribuye__cuadro1__texto {
  width: 23.7vw;
  color: #939393;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.1vw;
}

.jd-main-container-contribuye__cuadro2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: start;
}

.jd-movil-main-container-contribuye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  font-family: "Poppins";
  margin-left: 17.3vw;
  padding-bottom: 3.7vw;
}

.jd-movil-main-container-contribuye__cuadro1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: start;
  margin-bottom: 7.5vw;
}

.jd-movil-main-container-contribuye__cuadro1__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  height: 15vw;
  margin-right: 6.5vw;
}

.jd-movil-main-container-contribuye__cuadro1__texto {
  width: 58.5vw;
  color: #939393;
  line-height: 1.6;
  font-weight: 300;
  font-size: 3.4vw;
}

.jd-movil-main-container-contribuye__cuadro2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: start;
}

.jd-main-container-tyc *,
.jd-movil-main-container-tyc * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  line-height: 1.4;
}

.jd-main-container-tyc *:focus,
.jd-movil-main-container-tyc *:focus {
  outline: none;
}

.jd-main-container-tyc * a,
.jd-movil-main-container-tyc * a {
  text-decoration: none;
}

.jd-main-container-tyc * a:active,
.jd-movil-main-container-tyc * a:active {
  text-decoration: none;
}

.jd-main-container-tyc * input,
.jd-main-container-tyc * button,
.jd-movil-main-container-tyc * input,
.jd-movil-main-container-tyc * button {
  border: 0.1vw solid #fff0;
}

.jd-main-container-tyc * input:focus,
.jd-main-container-tyc * button:focus,
.jd-movil-main-container-tyc * input:focus,
.jd-movil-main-container-tyc * button:focus {
  outline: none;
}

.jd-main-container-tyc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: start;
  font-family: "Poppins";
  margin-left: 17.3vw;
  padding-bottom: 4.2vw;
}

.jd-main-container-tyc__cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  width: 33.7vw;
  margin-right: 9vw;
}

.jd-main-container-tyc__cuadro__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #29C4CD;
  font-size: 1.1vw;
  font-weight: 800;
}

.jd-main-container-tyc__cuadro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #939393;
  font-size: 1.1vw;
  font-weight: 300;
}

.jd-main-container-tyc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  margin-top: 2.4vw;
}

.jd-main-container-tyc__button__inbutt {
  color: #fff;
  background-color: #29C4CD;
  font-size: 1.5vw;
  font-weight: 800;
  border-radius: 50px;
  padding: 0.8vw 1.3vw;
}

.jd-movil-main-container-tyc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  font-family: "Poppins";
  margin-left: 17.3vw;
  padding-bottom: 3.7vw;
}

.jd-movil-main-container-tyc__cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  margin-bottom: 8.8vw;
}

.jd-movil-main-container-tyc__cuadro__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #29C4CD;
  font-size: 3.4vw;
  font-weight: 800;
  margin-bottom: 5vw;
}

.jd-movil-main-container-tyc__cuadro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #939393;
  font-size: 3.4vw;
  font-weight: 300;
}

.jd-movil-main-container-tyc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.4vw;
}

.jd-movil-main-container-tyc__button__inbutt {
  color: #fff;
  background-color: #29C4CD;
  font-size: 3.4vw;
  font-weight: 800;
  border-radius: 13px;
  padding: 0.8vw 1.3vw;
}
/*# sourceMappingURL=style.css.map */