* {
  margin: 0;
}

.ml-desktop-apuesta-social *,
.ml-movil-apuesta-social * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  font-family: "Poppins";
}

.ml-desktop-apuesta-social *:focus,
.ml-movil-apuesta-social *:focus {
  outline: none;
}

.ml-desktop-apuesta-social * a:active,
.ml-movil-apuesta-social * a:active {
  text-decoration: none;
}

.ml-desktop-apuesta-social * a:active:active,
.ml-movil-apuesta-social * a:active:active {
  text-decoration: none;
}

.ml-desktop-apuesta-social * input,
.ml-desktop-apuesta-social * button,
.ml-movil-apuesta-social * input,
.ml-movil-apuesta-social * button {
  border: 0.1vw solid #fff0;
}

.ml-desktop-apuesta-social * input:focus,
.ml-desktop-apuesta-social * button:focus,
.ml-movil-apuesta-social * input:focus,
.ml-movil-apuesta-social * button:focus {
  outline: none;
}

.ml-desktop-apuesta-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15vw;
  background: #F7F7F7;
}

.ml-desktop-apuesta-social__row-1 {
  margin-top: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-desktop-apuesta-social__row-1__title {
  width: 21vw;
  font-size: 2.6vw;
  font-weight: 800;
  color: #A059F8;
  margin-right: 13.3vw;
}

.ml-desktop-apuesta-social__row-1__paragraph {
  color: #939393;
  font-size: 1.1vw;
  font-weight: 300;
  width: 25.5vw;
}

.ml-desktop-apuesta-social__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4.5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ml-desktop-apuesta-social__row-2__card {
  height: 38vw;
  width: 32vw;
  background: #FFF;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6vw 3.7vw 0 3.7vw;
}

.ml-desktop-apuesta-social__row-2__card__img {
  height: 5.4vw;
  width: 5.4vw;
  margin-bottom: 3.7vw;
}

.ml-desktop-apuesta-social__row-2__card__paragraph {
  color: #939393;
  font-size: 1.1vw;
  line-height: 2;
  font-weight: 300;
}

.ml-desktop-apuesta-social__row-2__card__paragraph > span {
  font-weight: 800;
  color: #29C4CD;
}

.ml-desktop-apuesta-social__row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7vw;
}

.ml-desktop-apuesta-social__row-3__paragraph {
  width: 35vw;
  font-size: 1.1vw;
  color: #939393;
  font-weight: 300;
  line-height: 2;
}

.ml-desktop-apuesta-social__row-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ml-desktop-apuesta-social__row-3__row__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ml-desktop-apuesta-social__row-3__row__title__1 {
  margin-top: 7.8vw;
  width: 27vw;
  font-size: 2.3vw;
  color: #29C4CD;
  font-weight: 300;
  line-height: 1.7;
}

.ml-desktop-apuesta-social__row-3__row__title__1 > span {
  font-weight: 800;
}

.ml-desktop-apuesta-social__row-3__row__title__2 {
  font-size: 1.1vw;
  color: #939393;
  font-weight: 300;
  line-height: 2;
  width: 27vw;
}

.ml-desktop-apuesta-social__row-3__row__img {
  margin-top: -10vw;
  width: 50.6vw;
}

.ml-movil-apuesta-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F7F7F7;
  overflow-x: hidden;
  padding-top: 5vw;
  padding: 0 10vw 10vw 10vw;
}

.ml-movil-apuesta-social__title {
  margin-bottom: 4vw;
  font-size: 6.3vw;
  color: #A059F8;
  font-weight: 800;
  width: 50vw;
}

.ml-movil-apuesta-social__paragraph {
  margin-bottom: 4vw;
  color: #939393;
  font-weight: 300;
  font-size: 3.4vw;
  line-height: 1.7;
}

.ml-movil-apuesta-social__card {
  background: #FFF;
  border-radius: 3vw;
  margin-top: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10vw 10vw 10vw;
}

.ml-movil-apuesta-social__card__img {
  height: 15.5vw;
  width: 15.5vw;
  margin: 0 auto;
  margin-top: 5.5vw;
}

.ml-movil-apuesta-social__card__paragraph {
  font-size: 3.4vw;
  font-weight: 300;
  color: #939393;
  margin-top: 5vw;
  line-height: 2;
}

.ml-movil-apuesta-social__card__paragraph > span {
  font-weight: 800;
  color: #29C4CD;
}

.ml-movil-apuesta-social__img-2 {
  width: 100vw;
  margin-left: -10vw;
}

.ml-movil-apuesta-social__title-2 {
  font-size: 6.4vw;
  font-weight: 300;
  width: 75vw;
  color: #29C4CD;
}

.ml-movil-apuesta-social__title-2 > span {
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */